table.sortable thead th {
	background-image:url("../images/default.svg");
	background-repeat:no-repeat;
	background-position:center right;
}
table.sortable thead th.tablesorter-headerDesc {
	background-image:url("../images/asc.svg");
}
table.sortable thead th.tablesorter-headerAsc {
	background-image:url("../images/desc.svg");
}
